body {
    border: grey solid;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: larger;
    font-weight: bolder;
}

/* Main header format. */
h1 {
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.685), rgb(38, 38, 146));
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
}

#main-container {
    display: flex;
    flex-direction: row;
}

#internal-container {
    display: flex;
    flex-direction: column;
    width: 70%;

}

#searchSection {
    width: 30%;
    display: block;
    text-align: left;
}

#cityText {
    width: 100%;
    margin-left: 3 rem;
}

input {
    width: 100%;
    margin-left: .5rem;
    margin-right: .5rem;
}

#citySearch {
    margin-left: .5rem;
    font-size: larger;
    font-weight: bolder;
}

/* search button format */
.searchBtn {
    background: rgba(0, 85, 255, 0.563);
    border: none;
    display: block;
    width: 100%;
    padding: 0;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
}
.listCityBtn {
    background: rgba(0, 85, 255, 0.28);
    border: none;
    display: block;
    width: 100%;
    padding: 0;
    color: black;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

#cityName {
    border: solid grey;
    font-size: larger;
    font-weight: bolder;
    /*padding-left: 3rem;
    padding-right:3rem;*/
    margin-left: 3rem;
    margin-right: 1rem;
    text-align: left;
}
#fiveDayForecastHdr {
    font-size: larger;
    font-weight: bolder;
    /*padding-left: 3rem;
    padding-right:3rem;*/
    margin-left: 3rem;
    margin-right: 1rem;
    text-align: left;
}

#fiveDayForecast {
    display:none;
    justify-content: space-between;
    align-items:center;
    font-size: larger;
    font-weight: bolder;
    /*padding-left: 3rem;
    padding-right:3rem;*/
    margin-left: 3rem;
    margin-right: 1rem;
    text-align: left;
    flex-direction: row;
}

#weather-conditions {
    list-style-type: none;
    padding-left: 0;
}

#temp,
#wind,
#humidity {
    padding-bottom: 1rem;
}

.forecast {
    font-size: .75rem;
    font-weight:normal ;
    height: 10rem;
    color: white;
    background-color: rgba(37, 37, 97, 0.879);
    width: 20%;
    margin-top:1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
}